.item {
width: 220px;
margin: 10px;
float: left;
}

.item p {
	text-align:center;
	background-color: #666;
	padding: 15px;
	margin: 0;
}


#container{
	width: 90%;
    margin: 0 auto;
	padding-top: .75cm;
	
	}

